.movie-card{
    min-width: 9em;    
}

.previous-btn{
    left: 1%;
}

.next-btn{
    right: 1%;
}

.movie-card:hover{
    transform: scale(1.07);
    transform-origin: bottom;
    transition: transform 0.25s linear;
}

.active-card{
    transform: scale(1.07);
    transform-origin: bottom;
    transition: transform 0.25s linear;

}