.movie-card{
    min-width: 9em;    
}

.previous-btn{
    left: 1%;
}

.next-btn{
    right: 1%;
}

.movie-card-hover:hover{
    transform: scale(1.09);
    transform-origin: bottom;
    transition: transform 0.25s ease-out;
}