.movie-details{
    color: $grey-200;
}

.movie-details p{
    color: $grey-500;
}

.movie-details p span:first-child{
    color: $grey-200;
}


@media (min-width: 576px){
    .movie-details{
        width: 75%;
    }
} 