.movie-details{
    color: $grey-200;
}

.movie-details p{
    color: $grey-500;
}

.movie-details p span:first-child{
    color: $grey-200;
}


@media (min-width: 576px){
    .movie-details{
        width: 75%;
    }
    .details-list{
        grid-auto-flow: column;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
} 